/* base.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
}

.master-container {
    padding: 5px;
}

.empty-state h4,
.empty-state p {
    font-size: 13px;
}
